.root {
    & :where(ul, ol):not([data-type='taskList']) {
        list-style: none;
        padding-inline-start: 0;
    }

    & :where(li) {
        padding-block: calc(var(--mantine-spacing-xs) / 2);
    }

    & :where(blockquote) {
        font-size: var(--mantine-font-size-md);
        border-inline-start: 3px solid var(--mantine-color-gray-filled);
        border-start-start-radius: 0;
        border-end-start-radius: 0;
    }
}
